<?xml version="1.0"?>
<config>
    <modules>
        <Firegento_FlexCms>
            <version>0.2.1</version>
        </Firegento_FlexCms>
    </modules>
    <global>
        <blocks>
            <firegento_flexcms>
                <class>Firegento_FlexCms_Block</class>
            </firegento_flexcms>
        </blocks>
        <helpers>
            <firegento_flexcms>
                <class>Firegento_FlexCms_Helper</class>
            </firegento_flexcms>
        </helpers>
        <models>
            <firegento_flexcms>
                <class>Firegento_FlexCms_Model</class>
                <resourceModel>firegento_flexcms_resource</resourceModel>
            </firegento_flexcms>
            <firegento_flexcms_resource>
                <class>Firegento_FlexCms_Model_Resource</class>
                <entities>
                    <content>
                        <table>flexcms_content</table>
                    </content>
                    <content_link>
                        <table>flexcms_content_link</table>
                    </content_link>
                </entities>
            </firegento_flexcms_resource>
        </models>
        <resources>
            <firegento_flexcms_setup>
                <setup>
                    <module>Firegento_FlexCms</module>
                </setup>
            </firegento_flexcms_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <firegento_flexcms>
                        <type>singleton</type>
                        <class>firegento_flexcms/observer</class>
                        <method>cmsPageRender</method>
                    </firegento_flexcms>
                </observers>
            </cms_page_render>
        </events>
        <layout>
            <updates>
                <firegento_flexcms>
                    <file>firegento/flexcms.xml</file>
                </firegento_flexcms>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <firegento_flexcms before="Mage_Adminhtml">Firegento_FlexCms_Adminhtml</firegento_flexcms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <firegento_flexcms module="Firegento_FlexCms">
                    <file>firegento/flexcms.xml</file>
                </firegento_flexcms>
            </updates>
        </layout>
        <translate>
            <modules>
                <Firegento_FlexCms>
                    <files>
                        <default>Firegento_FlexCms.csv</default>
                    </files>
                </Firegento_FlexCms>
            </modules>
        </translate>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <firegento_flexcms_adminhtml_catalog_category_tabs>
                        <class>Firegento_FlexCms_Model_Observer</class>
                        <method>addContentCategoryTab</method>
                    </firegento_flexcms_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <firegento_flexcms_catalog_category_prepare_save>
                        <class>Firegento_FlexCms_Model_Observer</class>
                        <method>saveCategoryFlexContent</method>
                    </firegento_flexcms_catalog_category_prepare_save>
                </observers>
            </catalog_category_save_after>
        </events>
    </adminhtml>
    <default>
        <firegento_flexcms>
            <handles>
                <dynamic>
                    <product />
                    <category />
                    <cms_page />
                </dynamic>
                <static>
                    <default translate="label">
                        <handle>default</handle>
                        <label>All Pages</label>
                    </default>
                    <customer_logged_out translate="label">
                        <handle>customer_logged_out</handle>
                        <label>All Pages (only logged out users)</label>
                    </customer_logged_out>
                    <customer_logged_in translate="label">
                        <handle>customer_logged_in</handle>
                        <label>All Pages (only logged in users)</label>
                    </customer_logged_in>
                </static>
            </handles>
            <types>
                <html translate="label descrption">
                    <label>Default HTML</label>
                    <description>Standard Magento WYSIWYG Editor</description>
                    <show_title>1</show_title>
                    <fields>
                        <headline translate="label">
                            <label>Headline</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <comment>Comma separated</comment>
                            <disabled>1</disabled>
                        </headline>
                    </fields>
                </html>
            </types>
            <areas>
                <left translate="label">
                    <label>Left Column</label>
                    <cache>
                        <lifetime>3600</lifetime>
                    </cache>
                </left>
                <content translate="label">
                    <key>content</key>
                    <label>Content Column</label>
                </content>
                <right translate="label">
                    <key>right</key>
                    <label>Right Column</label>
                </right>
            </areas>
        </firegento_flexcms>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Firegento_FlexCms/>
            </modules>
        </suite>
    </phpunit>
</config>