<?xml version="1.0"?>
<config>
    <modules>
        <Firegento_FlexCms>
            <version>0.2.0</version>
        </Firegento_FlexCms>
    </modules>
    <global>
        <blocks>
            <firegento_flexcms>
                <class>Firegento_FlexCms_Block</class>
            </firegento_flexcms>
        </blocks>
        <helpers>
            <firegento_flexcms>
                <class>Firegento_FlexCms_Helper</class>
            </firegento_flexcms>
        </helpers>
        <models>
            <firegento_flexcms>
                <class>Firegento_FlexCms_Model</class>
                <resourceModel>firegento_flexcms_resource</resourceModel>
            </firegento_flexcms>
            <firegento_flexcms_resource>
                <class>Firegento_FlexCms_Model_Resource</class>
                <entities>
                    <content>
                        <table>flexcms_content</table>
                    </content>
                    <content_link>
                        <table>flexcms_content_link</table>
                    </content_link>
                </entities>
            </firegento_flexcms_resource>
        </models>
        <resources>
            <firegento_flexcms_setup>
                <setup>
                    <module>Firegento_FlexCms</module>
                </setup>
            </firegento_flexcms_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <firegento_flexcms>
                        <type>singleton</type>
                        <class>firegento_flexcms/observer</class>
                        <method>cmsPageRender</method>
                    </firegento_flexcms>
                </observers>
            </cms_page_render>
        </events>
        <layout>
            <updates>
                <firegento_flexcms>
                    <file>firegento/flexcms.xml</file>
                </firegento_flexcms>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <firegento_flexcms before="Mage_Adminhtml">Firegento_FlexCms_Adminhtml</firegento_flexcms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <firegento_flexcms module="Firegento_FlexCms">
                    <file>firegento/flexcms.xml</file>
                </firegento_flexcms>
            </updates>
        </layout>
        <translate>
            <modules>
                <Firegento_FlexCms>
                    <files>
                        <default>Firegento_FlexCms.csv</default>
                    </files>
                </Firegento_FlexCms>
            </modules>
        </translate>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <firegento_flexcms_adminhtml_catalog_category_tabs>
                        <class>Firegento_FlexCms_Model_Observer</class>
                        <method>addContentCategoryTab</method>
                    </firegento_flexcms_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
    </adminhtml>
    <default>
        <firegento_flexcms>
            <handles>

            </handles>
            <areas>
                <left_area>
                    <key>left</key>
                    <title>Left Column</title>
                    <cache>
                        <lifetime>3600</lifetime>
                    </cache>
                </left_area>
                <content_area>
                    <key>content</key>
                    <title>Content Column</title>
                </content_area>
                <right_area>
                    <key>right</key>
                    <title>Right Column</title>
                </right_area>
            </areas>
        </firegento_flexcms>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Firegento_FlexCms/>
            </modules>
        </suite>
    </phpunit>
</config>