<!--@subject Publication Request for {{var category_path}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            The user {{var admin_user.username}} ({{var admin_user.firstname}} {{var admin_user.lastname}}) has sent a request for publication to you.
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Category:
                            {{htmlescape var=$category_path}}
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Store View:
                            {{var store.name}}
                        </td>
                    </tr>
                    <tr>
                        {{if comment}}<td valign="top">
                        Comment:
                        {{var comment}}
                    </td>{{/if}}
                    </tr>
                    <tr>
                        <td valign="top">
                            <a href="{{var url}}">Login here</a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Vielen Dank! <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>




