<!--@subject {{var store.getFrontendName()}}: Workflow-Nachricht für {{var category_path}} @-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td valign="top">
            Der Benutzer {{var admin_user.username}} ({{var admin_user.firstname}} {{var admin_user.lastname}}) hat Ihnen eine
            Workflow-Nachricht gesendet.
        </td>
    </tr>
    <tr>
        <td valign="top">
            Kategorie: 
            {{htmlescape var=$category_path}}
        </td>
    </tr>
    <tr>
        <td valign="top">
            Storeview: 
            {{var store.name}}
        </td>
    </tr>
    {{if comment}}<tr>
        <td valign="top">
            Kommentar:
            {{var comment}}
        </td>
    </tr>{{/if}}
    <tr>
        <td valign="top">
            <a href="{{var url}}">Hier einloggen</a>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}